[$JIRA] ${SUBJECT}${JIRA_SUMMARY}
# Subject: Description in the imperative voice

${JIRA_DESC}

# Summary: A paragraph or two explaining the reason for the change and a
#          high level explanation of what the changes do.

[$JIRA](https://jira.fivestars.com/browse/$JIRA)
